@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Omori";
  src: url("./fonts/OMORI_GAME2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Omori", sans-serif;
  font-size: larger;
}

@layer utilities {
  /* Remove hover effects on mobile */
  @media (hover: none) {
    .hover\:bg-omori-red\/20:hover {
      background-color: transparent;
    }
  }

  /* Ensure proper contrast when button is touched */
  .active\:bg-omori-red\/20:active {
    background-color: rgb(239 68 68 / 0.2);
  }

  /* Handle focus state */
  .focus\:bg-omori-red\/20:focus {
    background-color: rgb(239 68 68 / 0.2);
  }
}
